body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  list-style: none;
}

.block-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.block-header .block-header__element-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-header .block-header__element-logo img {
  height: 80px;
  margin-right: 20px;
}

.block-header .block-header__element-logo h1 {
  font-size: 150%;
}

.block-header .block-header__element-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.block-header .block-header__element-menu ul li {
  margin-right: 30px;
  margin-top: 15px;
}

.block-header .block-header__element-menu ul li a {
  color: black;
  text-decoration: none;
  font-weight: normal;
}

.block-main .block-main__element-contact {
  background-image: url("img/la-chouette-agence-banniere.jpg");
  background-attachment: fixed;
  padding: 200px;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
}

.block-main .block-main__element-contact a {
  background: #c27956;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 12px 28px 12px 28px;
  font-size: 16px;
  font-weight: 700;
  font-family: "helvetica";
  border-radius: 40px;
}

.block-main .block-main__element-contact a:hover {
  background: #f3976c;
  color: #ffffff;
}

.block-main .block-main__element-services h2 {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.block-main .block-main__element-services .block-main__element-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 0 auto;
}

.block-main .block-main__element-services .block-main__element-service .service {
  width: 33.33333333%;
  height: 33%;
  margin: 20px;
}

.block-main .block-main__element-services .block-main__element-service .service h3 {
  margin-left: 25%;
}

.block-main .block-main__element-services .block-main__element-service .service span {
  font-size: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 25%;
}

.block-main .block-main__element-services figure {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 70px;
}

.block-main .block-main__element-slogan {
  background-image: url("img/image-de-presentation.bmp");
  background-attachment: fixed;
  padding: 100px;
  text-align: center;
}

.block-main .block-main__element-slogan .block-main__element-slogan--fondvert {
  width: 80%;
  background-color: rgba(165, 147, 99, 0.7);
  border-radius: 10px;
  padding: 10px;
  margin: auto auto auto auto;
}

.block-main .block-main__element-slogan .block-main__element-slogan--fondvert h2 {
  font-weight: bold;
  font-size: 250%;
}

.block-main .block-main__element-slogan .block-main__element-slogan--fondvert p {
  font-size: 150%;
}

.block-main .block-main__element-slogan .block-main__element-slogan--fondvert p a {
  font-size: 200%;
  background-color: #507a50;
  color: white;
  border-radius: 15px;
  padding: 5px;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */