@font-face {
  src: url("fonts/Kingthings Petrock.ttf");
  font-family: Kingthings;
  font-display: swap;
}
@font-face {
  src: url("fonts/Kingthings Petrock light.ttf");
  font-family: Petrock;
  font-display: swap;
}
body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  list-style: none;
}
.block-header {
  width: 100%;
  background-color: #fff;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.block-header > .nav-header {
  display: inline-flex;
  padding: 20px;
  align-items: center;
}
.block-header > .nav-header > a {
  margin-right: 20px;
  margin-left: 10px;
}
.block-header > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #000;
}
.block-header > .nav-header > .nav-title > h1 {
  margin: 0;
  padding: 0;
  font-family: Petrock;
}
.block-header > .nav-btn {
  display: none;
}
.block-header > .nav-links {
  display: inline;
  font-size: 18px;
  outline: 0;
  border: none;
  margin-right: 90px;
}
.block-header > .nav-links > a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  outline: 0;
  margin-right: 20px;
}
.block-header > #nav-check {
  display: none;
}
.block-main .block-main__element-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-image: url(img/baniere_2.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  text-decoration: none;
}
.block-main .block-main__element-contact img {
  height: 200px;
  width: 200px;
  padding: 30px;
  margin: 0 auto;
}
.block-main .block-main__element-contact a {
  border: none;
  outline: 0;
  background: red;
  background: linear-gradient(353deg, red 0, #ed6b0d 50%, #ffc400 100%);
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 12px 28px 12px 28px;
  width: auto;
  margin: 0 auto;
  font-family: helvetica;
  font-size: 20px;
  font-weight: 700;
  border-radius: 40px;
}
.block-main .block-main__element-services h2 {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}
.block-main .block-main__element-services .block-main__element-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}
.block-main
  .block-main__element-services
  .block-main__element-service
  .service {
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
  -webkit-box-shadow: grey 1px 1px 10px;
  box-shadow: grey 1px 1px 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.block-main
  .block-main__element-services
  .block-main__element-service
  .service
  p {
  width: 200px;
  margin: 0 auto;
  font-size: 15px;
}
.block-main
  .block-main__element-services
  .block-main__element-service
  .service
  span {
  margin-top: 20px;
  font-size: 100px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.block-main .block-main__element-services figure {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 70px;
}
.block-main .block-main__element-slogan {
  background-image: url(img/baniere_1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 100px;
  text-align: center;
}
.block-main .block-main__element-slogan .block-main__element-slogan--fondvert {
  background: #fff;
  border-radius: 20px;
  padding: 10px;
}
.block-main
  .block-main__element-slogan
  .block-main__element-slogan--fondvert
  h2 {
  font-size: 250%;
  margin: 40px;
}
.block-main
  .block-main__element-slogan
  .block-main__element-slogan--fondvert
  p {
  font-size: 150%;
  margin: 40px;
}
.block-main
  .block-main__element-slogan
  .block-main__element-slogan--fondvert--bouton {
  margin-top: 80px;
}
.block-main
  .block-main__element-slogan
  .block-main__element-slogan--fondvert--bouton
  a {
  border: none;
  outline: 0;
  background: red;
  background: linear-gradient(353deg, red 0, #ed6b0d 50%, #ffc400 100%);
  color: #fff;
  text-decoration: none;
  padding: 12px 28px 12px 28px;
  width: auto;
  margin: 0 auto;
  font-family: helvetica;
  font-size: 30px;
  font-weight: 700;
  border-radius: 40px;
}
.block-main .block-main__element-portfolio h2 {
  text-align: center;
  margin: 5%;
}
.block-main .block-main__element-portfolio .block-main__element-photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
}
.block-main .block-main__element-portfolio .block-main__element-photos a {
  width: 35%;
  text-align: center;
  color: #000;
  margin-bottom: 10%;
  text-decoration: none;
  outline: 0;
}
.block-main .block-main__element-cta {
  background-image: url(img/baniere_1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 100px;
  text-align: center;
}
.block-main .block-main__element-cta a {
  color: #000;
  text-transform: none;
  text-decoration: none;
  outline: 0;
}
.block-main .block-main__element-cta a h2 {
  font-weight: 700;
  outline: 0;
}

.block-footer .block-footer__element-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 70px;
}
.block-footer .block-footer__element-logos a {
  font-size: 16px;
  text-decoration: none;
  color: #8c3300;
  outline: 0;
}
.block-main1 .block-main1__element-acroche {
  text-align: center;
  background-color: rgba(248, 187, 164, 0.5);
}
.block-main1 .block-main1__element-acroche h2 {
  margin: 0;
  color: #5f1d06;
  font-size: 90px;
  font-weight: lighter;
}
.block-main1 .block-main1__element-formulaire p:nth-child(1) {
  text-align: center;
  font-size: 30px;
  font-weight: lighter;
  padding: 40px;
}
.block-main1 .block-main1__element-formulaire .block-main1__element-saisie {
  width: 50%;
  padding: 50px;
  margin: 0 auto;
  text-align: left;
  border-radius: 10px;
  background-color: rgba(248, 187, 164, 0.5);
  outline: 0;
  border: none;
  font-size: 20px;
}
.block-main1
  .block-main1__element-formulaire
  .block-main1__element-saisie
  .saisie {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 10px;
  border-radius: 5px;
  outline: 0;
  border: none;
}
.block-main1
  .block-main1__element-formulaire
  .block-main1__element-saisie
  .saisie
  input {
  outline: 0;
  border: none;
  height: 40px;
  font-size: 20px;
}
.block-main1
  .block-main1__element-formulaire
  .block-main1__element-saisie--votre-projet {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  outline: 0;
}
.block-main1
  .block-main1__element-formulaire
  .block-main1__element-saisie--votre-projet
  textarea {
  outline: 0;
  border: none;
  width: 100%;
  font-size: 20px;
}
.block-main1
  .block-main1__element-formulaire
  .block-main1__element-saisie--btn-envoyer {
  border: none;
  font-size: 20px;
  background-color: #fff;
}
.block-main1 .block-main1__element-formulaire p:nth-child(3) {
  padding: 40px;
  text-align: center;
  font-size: 20px;
  font-weight: lighter;
}

@media all and (max-width: 660px) {
  .block-header > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 25px;
  }
  .block-header > .nav-header > .nav-title > h1 {
    margin: 0;
    padding: 0;
    font-family: Petrock;
    font-size: 100%;
  }
  .block-header > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .block-header > .nav-links {
    position: absolute;
    display: flex;
    width: 100%;
    background-color: #f8bba4;
    top: 60px;
  }
  .block-header > .nav-links > a {
    display: flex;
    width: 100%;
    color: #fff;
    justify-content: center;
    align-items: center;
  }
  .block-header > #nav-check:not(:checked) ~ .nav-links {
    height: 0;
  }
  .block-header > #nav-check:checked ~ .nav-links {
    height: 30px;
  }
  .block-main .block-main__element-services .block-main__element-service {
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }
  .block-main .block-main__element-slogan {
    background-image: url(img/baniere_1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 20px;
    text-align: center;
  }
  .block-main
    .block-main__element-slogan
    .block-main__element-slogan--fondvert {
    background: #fff;
    border-radius: 20px;
    padding: 10px;
    margin: 0 auto;
  }
  .block-main
    .block-main__element-slogan
    .block-main__element-slogan--fondvert
    h2 {
    font-size: 100%;
    font-weight: 700;
    margin: 0;
    margin-bottom: 30px;
    margin-top: 20px;
  }
  .block-main
    .block-main__element-slogan
    .block-main__element-slogan--fondvert
    p {
    font-size: 100%;
    margin: 0;
  }
  .block-main
    .block-main__element-slogan
    .block-main__element-slogan--fondvert--bouton {
    margin-top: 30px;
  }
  .block-main
    .block-main__element-slogan
    .block-main__element-slogan--fondvert--bouton
    a {
    text-transform: none;
    padding: 10px;
    font-size: 20px;
  }
  .block-main .block-main__element-portfolio .block-main__element-photos a {
    width: auto;
  }
  .block-main .block-main__element-cta {
    padding: 10px;
  }
  .block-footer .block-footer__element-logos {
    padding: 10px;
  }
  .block-main1 .block-main1__element-acroche h2 {
    margin: 0;
    margin-top: 18px;
    color: #5f1d06;
    font-size: 50px;
    padding: 10px;
    font-weight: lighter;
  }
  .block-main1 .block-main1__element-formulaire p:nth-child(1) {
    text-align: left;
    font-size: 20px;
    font-weight: lighter;
  }
  .block-main1 .block-main1__element-formulaire .block-main1__element-saisie {
    width: 80%;
    padding: 10px;
  }
  .block-main1 .block-main1__element-formulaire p:nth-child(3) {
    font-size: 15px;
    padding: 0;
    margin-top: 20px;
    font-weight: lighter;
    width: 100%;
  }
  .block-footer__element-logos {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .block-footer .block-footer__element-logos a {
    font-size: 20px;
  }
}
